<div class="category-container">
  <ul>
    <% Category.all.each do |category| %>
      <%= react_component("CategoryNav", {name: category.name,
                                          path: posts_path(category: category.name)}
                          ) %>
    <% end %>
  </ul>
</div>
