<div class="category-container">
  <ul>
    <% Category.all.each do |category| %>
      <li class="col-xs-2">
      <%= link_to category.name, posts_path(category: category.name) %>
      </li>
    <% end %>
  </ul>
</div>
