<div class="footer">
  <div class="footer-links">
    <a href="#"><%= icon('fab', 'github') %></a>
    <a href="#"><%= icon('fab', 'instagram') %></a>
    <a href="#"><%= icon('fab', 'linkedin') %></a>
  </div>
  <div class="footer-copyright">
    Copyright Joe Schafer 2018
  </div>
</div>
