
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
              <%= react_component("Post", {title: post.title,
                                          path: post_path(post),
                                          category: Category.find(post.category_id).name}
                                  ) %>            
      </div>
    <% end %>
  </div>
</div>
